.documentation{
    text-align: left;
    background-color: rgba(28, 104, 175, 0.158);
    min-height: 100vh;
    height: auto + 2px;
}

.title{
    text-align: center;
    margin-top: 2px;
    padding-bottom: 3rem;
    color: black;
}

h4{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
}

.documentation .link{
    padding-left: 1rem;
    color: blue;
}
